groups:
  - name: node_alerts

    rules:

      - alert: NodeDown
        expr: up == 0
        for: 1m

        labels:
          severity: critical

        annotations:
          summary: "Node is DOWN"
          description: "A monitored node is unreachable."

      - alert: HighCPUUsage
        expr: 100 - (avg by(instance)(rate(node_cpu_seconds_total{mode="idle"}[1m])) * 100) > 80
        for: 2m

        labels:
          severity: warning

        annotations:
          summary: "High CPU Usage"
          description: "CPU usage is above 80%."

      - alert: HighMemoryUsage
        expr: (1 - (node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes)) * 100 > 80
        for: 2m

        labels:
          severity: warning

        annotations:
          summary: "High Memory Usage"
          description: "Memory usage is above 80%."

      - alert: DiskAlmostFull
        expr: 100 - ((node_filesystem_avail_bytes{fstype!="tmpfs"} * 100) / node_filesystem_size_bytes{fstype!="tmpfs"}) > 85
        for: 2m

        labels:
          severity: critical

        annotations:
          summary: "Disk Almost Full"
          description: "Disk usage exceeded 85%."
